# Cursos Gratuitos Online em Português

Esta é uma lista curada de cursos dispońiveis online em língua portuguesa.

## Quem Mantém Essa Lista?

Este repositório possui [código-aberto](https://pt.wikipedia.org/wiki/C%C3%B3digo_aberto) e qualquer pessoa pode contribuir com sugestões, atualizações e correções.

# Tópicos

{{range .Categorias}}
## {{.Name}}

{{range .Cursos}}
* [{{.Name}}]({{.Url}}){{end}}
{{end}}
